- title 'Resellers'
- meta_description 'Earn up to 20 on Referrals'
- meta_keywords 'Polycom, VVX, business media phone, Polycom phones, Polycom VVX phones, VVX 500, VVX 1500, VVX 1500D,  VVX series'
- meta_canonical 'http://freecableinstall.com/resellers'

.jumbotron.bg-fteal.text-white.text-center
  %h1.display-3 Resellers
  %p.lead.tandcapply Receive up to 20%!

= render 'form', reseller: @reseller