- title 'Free VOIP Phones'
- meta_description 'Get a full featured Voice over IP telephone system for your business free today!'
- meta_keywords 'Polycom, VVX, business media phone, Polycom phones, Polycom VVX phones, VVX 500, VVX 1500, VVX 1500D,  VVX series'
- meta_canonical 'http://freecableinstall.com/phones'


.jumbotron.bg-fblue.text-white
  .container.text-center
    %h1.display-3 Voice Over IP
    %p.lead.tandcapply Get a full featured Voice over IP telephone system for your business free today!

= render 'form', voip: @voip
