.jumbotron
  .container
    %h1.display-3 Hello, world!
    %p.lead Free installation of business internet, tv or telephone / Free business telephone system.

.container
  .row

    .col.mb-2
      .card

        -# %img.card-img-top{ alt: 'Card image cap', src: '#' }/
        =image_tag 'internet.jpg', style: 'height:10em;', class: 'card-img-top'
        .card-body
          %h4.card-title Internet
          %p.card-text.lead Some quick example text to build on the card title and make up the bulk of the card's content.
          =link_to "Click Here for Business Class Internet", static_cable_path, class: 'btn btn-primary'

    .col.mb-2
      .card

        -# %img.card-img-top{ alt: 'Card image cap', src: '#' }/
        =image_tag 'polycom.jpg', style: 'height:10em;', class: 'card-img-top'
        .card-body
          %h4.card-title Voice Over IP
          %p.card-text.lead Some quick example text to build on the card title and make up the bulk of the card's content.
          =link_to "Click Here for Business Telephone System", static_phones_path, class: 'btn btn-primary'



