- title 'Free Internet and VOIP'
- meta_description 'Complete Business Internet and Telephone (Hosted PBX) Solutions!'
- meta_keywords 'Polycom, VVX, business media phone, Polycom phones, Polycom VVX phones, VVX 500, VVX 1500, VVX 1500D,  VVX series'
- meta_canonical 'http://freecableinstall.com'

.jumbotron.bg-fblue.text-white
  .container
    %h1.display-4 Complete Business Internet and Telephone (Hosted PBX) Solutions!
    %p.lead  Order now: Cable internet, TV,  Telephone services. The installation is free with us!
    %p.lead.tandcapply  Get Your Telephone system (Hosted PBX) Free with us

.card-deck
  .card.bg-light.border-light.mb-4
    =image_tag 'internet.jpg', class: 'card-img-top', alt='Sign up for free internet installation.'
    .card-body
      %h4.card-title Internet
      %p.card-text.lead.tandcapply Order Now:  Internet, TV, and Telephone services, from your local provider with no installation charge.
    .card-footer
      =link_to "Sign Up", internet_path, class: 'btn btn-info btn-lg w-100'
  .card.bg-light.border-light.mb-4
    =image_tag 'polycom.jpg', class: 'card-img-top', alt: 'Sign up for free Polycom VVX Business Class Phones.'
    .card-body
      %h4.card-title VOIP
      %p.card-text.lead.tandcapply Order Now: Free business telephone system (Hosted PBX).
      %a.text-center{ href: 'http://www.polycom.com/vvx' }=image_tag 'logos/polycomlogo.png'
    .card-footer
      =link_to 'Sign Up', phones_path, class: 'btn btn-info btn-lg w-100'