- title 'Free VOIP Phones'
- meta_description 'Get a full featured Voice over IP telephone system for your business free today!'

.jumbotron.bg-fred.text-white
  .container
    %h1.display-3 Voice Over IP
    %p.lead.tandcapply Get a full featured Voice over IP telephone system for your business free today!

%form#needs-validation.container{ novalidate: ""}

  %h2 Choose a Phone:
  .card-deck
    .card.bg-light.border-light.mb-4
      =image_tag 'vvx-301.jpg', alt: 'polycom vvx 301', class: 'card-img-top'
      .card-body
        %h4.card-title
          Polycom
          %small.text-muted VVX 301
        %p.card-text.lead A powerful entry-level Business Media phone for today's cubicle workers
        %p.card-text Give your cubicle worker the best experience with this high quality UC Business Media Phone. Designed for a broad range of environments for small and medium businesses.
      .card-footer
        %label.form-check-label.w-100{ for: 'vvx301' }
          %input.form-check-input#vvx301{ name: 'phone', placeholder:  'John', type: 'radio' }/
          Choose

    .card.bg-light.border-light.mb-4
      =image_tag 'vvx-401.jpg', alt: 'polycom vvx 401', class: 'card-img-top'
      .card-body
        %h4.card-title
          Polycom
          %small.text-muted VVX 401
        %p.card-text.lead A color mid-range Business Media phone for enhanced call handling.
        %p.card-text Give your call attendant a high-quality, cost effective UC solution that will handle their moderate  call volume and provide them with the advanced telephony features they expect from a modern media phone.
      .card-footer
        %label.form-check-label.w-100{ for: 'vvx401' }
          %input.form-check-input#vvx401{ name: 'phone', placeholder:  'John', type: 'radio' }/
          Choose

  %hr/

  .form-row
    .form-group.col-md-6
      / First Name
      %label.control-label.required{ for: 'full_name_id' } First Name
      %input#full_name_id.form-control{ name: 'first_name', placeholder:  'John', type: 'text', required: true }/
      .invalid-feedback Please provide your First Name

    .form-group.col-md-6
      / Last Name
      %label.control-label.required{ for: 'full_name_id' } Last Name
      %input#full_name_id.form-control{ name: 'last_name', placeholder:  'Doe', type: 'text', required: true }/
      .invalid-feedback Please provide your Last Name

  .form-group
    / Email
    %label.control-label.required{ for: 'full_name_id' } Email
    %input#full_name_id.form-control{ name: 'phone', placeholder:  'john@example.com', type: 'email', required: true }/
    .invalid-feedback Please provide your Email

  .form-group
    / Phone
    %label.control-label.required{ for: 'full_name_id' } Phone Number
    %input#full_name_id.form-control{ name: 'phone', placeholder:  '555-555-555', type: 'tel', required: true }/
    .invalid-feedback Please provide your Phone Number

  %hr/

  .form-group
    / Business Name
    %label.control-label.required{ for: 'full_name_id' } Business Name
    %input#full_name_id.form-control{ name: 'full_name', placeholder:  'Acme Co.', type: 'text', required: true }/
    .invalid-feedback Please provide the Business Name

  .form-group
    / Number of phones
    %label.control-label{ for: 'number_telephones' } Number of Telephones
    %select#state_id.form-control
      %option{ value: '', disabled: true, selected: true} Please Choose One
      %option{ value: '1-5' } 1&mdash;5
      %option{ value: '6-15' } 6&mdash;15
      %option{ value: '16-30' } 16&mdash;30
      %option{ value: '30+S' } 30+

  .form-group
    / Street 1
    %label.control-label.required{ for: 'street1_id' } Street Address 1
    %input#street1_id.form-control{ name: 'street1', placeholder: 'Street address, P.O. box, company name, c/o', type: 'text', required: true }/
    .invalid-feedback Please provide the Street Address

  .form-group
    / Street 2
    %label.control-label.required{ for: 'street2_id' } Street Address 2
    %input#street2_id.form-control{:name => 'street2', :placeholder => 'Apartment, suite, unit, building, floor, etc.', type: 'text', required: true }/

  .form-row
    .form-group.col-md-6
      / City
      %label.control-label.required{ for: 'city_id' } City
      %input#city_id.form-control{ name: 'city', placeholder: 'Smallville', type: 'text', required: true }/
      .invalid-feedback Please provide the City

    .form-group.col-md-3
      / State Button
      %label.control-label.required{ for: 'state_id' } State
      %select#state_id.form-control.selectpicker{ required: true }
        %option{ value: '', disabled: true, selected: true} Please Choose One
        %option{ value: 'AL' } Alabama
        %option{ value: 'AK' } Alaska
        %option{ value: 'AZ' } Arizona
        %option{ value: 'AR' } Arkansas
        %option{ value: 'CA' } California
        %option{ value: 'CO' } Colorado
        %option{ value: 'CT' } Connecticut
        %option{ value: 'DE' } Delaware
        %option{ value: 'DC' } District Of Columbia
        %option{ value: 'FL' } Florida
        %option{ value: 'GA' } Georgia
        %option{ value: 'HI' } Hawaii
        %option{ value: 'ID' } Idaho
        %option{ value: 'IL' } Illinois
        %option{ value: 'IN' } Indiana
        %option{ value: 'IA' } Iowa
        %option{ value: 'KS' } Kansas
        %option{ value: 'KY' } Kentucky
        %option{ value: 'LA' } Louisiana
        %option{ value: 'ME' } Maine
        %option{ value: 'MD' } Maryland
        %option{ value: 'MA' } Massachusetts
        %option{ value: 'MI' } Michigan
        %option{ value: 'MN' } Minnesota
        %option{ value: 'MS' } Mississippi
        %option{ value: 'MO' } Missouri
        %option{ value: 'MT' } Montana
        %option{ value: 'NE' } Nebraska
        %option{ value: 'NV' } Nevada
        %option{ value: 'NH' } New Hampshire
        %option{ value: 'NJ' } New Jersey
        %option{ value: 'NM' } New Mexico
        %option{ value: 'NY' } New York
        %option{ value: 'NC' } North Carolina
        %option{ value: 'ND' } North Dakota
        %option{ value: 'OH' } Ohio
        %option{ value: 'OK' } Oklahoma
        %option{ value: 'OR' } Oregon
        %option{ value: 'PA' } Pennsylvania
        %option{ value: 'RI' } Rhode Island
        %option{ value: 'SC' } South Carolina
        %option{ value: 'SD' } South Dakota
        %option{ value: 'TN' } Tennessee
        %option{ value: 'TX' } Texas
        %option{ value: 'UT' } Utah
        %option{ value: 'VT' } Vermont
        %option{ value: 'VA' } Virginia
        %option{ value: 'WA' } Washington
        %option{ value: 'WV' } West Virginia
        %option{ value: 'WI' } Wisconsin
        %option{ value: 'WY' } Wyoming
      .invalid-feedback Please provide the State

    .form-group.col-md-3
      / Zip Code
      %label.control-label.required{ for: 'zip_id' } Zip Code
      %input#zip_id.form-control{ name: 'zip', placeholder: '#####', type: 'text', required: true }/
      .invalid-feedback Please provide the Zip


  .form-row
    .form-group.col-md-6
      %label.control-label{:for => "state_id"} Best Time To Contact You
      %select.form-control.selectpicker
        %option{ value: '', disabled: true, selected: true} Please Choose One
        %option{ value: 'morning'   } Morning
        %option{ value: 'afternoon' } Afternoon
        %option{ value: 'evening'   } Evening
    .form-group.col-md-6
      %label.control-label{:for => "state_id"} Best Way To Contact You
      %select.form-control.selectpicker
        %option{ value: '', disabled: true, selected: true} Please Choose One
        %option{ value: 'phone' } Phone
        %option{ value: 'email' } Email

  .form-group
    %label.form-check-label{ for: 'full_name_id' }
      %input.form-check-input{ name: 'first_name', placeholder:  'John', type: 'checkbox' }/
      I Am Also Interested In Free Cable Installation

  .form-group
    .g-recaptcha{ 'data-sitekey': '6LelDDMUAAAAAGBBqJVyTMwgh2UpnhwhGJKR6w3d' }

  .form-group
    / Submit Button
    %button.btn.btn-info.btn-lg{ type: 'submit' } Send Request
