.row.m-2
  .col-md-5.text-center
    =image_tag 'vvx-301.jpg', class: 'img-fluid', style: 'max-height: 20rem;'
  .col-md-7
    %h1 Polycom VVX 301
    %p.lead A powerful entry-level Business Media phone for today's cubicle workers
    %p Give your cubicle worker the best experience with this high quality UC Business Media Phone. Designed for a broad range of environments for small and medium businesses.
    %a.btn.btn-primary{ href: '#' } Learn More

%hr/

.row.m-2
  .col-md-5.text-center
    =image_tag 'vvx-401.jpg', class: 'img-fluid', style: 'max-height: 20rem;'
  .col-md-7
    %h1 Polycom VVX 401
    %p.lead A color mid-range Business Media phone for enhanced call handling.
    %p Give your call attendant a high-quality, cost effective UC solution that will handle their moderate  call volume and provide them with the advanced telephony features they expect from a modern media phone.
    %a.btn.btn-primary{ href: '#' } Learn More