.card-deck
  .card.bg-light.border-light.mb-4
    =image_tag 'vvx-301.jpg', alt: 'polycom vvx 301', class: 'card-img-top'
    .card-body
      %h4.card-title
        Polycom
        %small.text-muted VVX 301
      %p.card-text.lead A powerful entry-level Business Media phone for today's cubicle workers
      %p.card-text Give your cubicle worker the best experience with this high quality UC Business Media Phone. Designed for a broad range of environments for small and medium businesses.
    .card-footer
      %label.form-check-label{ for: 'full_name_id' }
        %input.form-check-input{ name: 'first_name', placeholder:  'John', type: 'radio' }/
        Choose

  .card.bg-light.border-light.mb-4
    =image_tag 'vvx-401.jpg', alt: 'polycom vvx 401', class: 'card-img-top'
    .card-body
      %h4.card-title
        Polycom
        %small.text-muted VVX 401
      %p.card-text.lead A color mid-range Business Media phone for enhanced call handling.
      %p.card-text Give your call attendant a high-quality, cost effective UC solution that will handle their moderate  call volume and provide them with the advanced telephony features they expect from a modern media phone.
    .card-footer
      %label.form-check-label{ for: 'full_name_id' }
        %input.form-check-input{ name: 'first_name', placeholder:  'John', type: 'radio' }/
        Choose