.jumbotron.bg-fblue.text-white.text-center

  %h1.display-3 Thank you for your inquiry!

  %p.lead  One of our account managers will be in touch with you shortly.

  - if params[:from] == 'internet'
    %hr.my-4/
    %p
      If you are also interested in a free telephone system for your business, please
      =link_to 'click here', new_voip_path, class: 'text-white underlined'

  - if params[:from] == 'voip'
    %hr.my-4/
    %p
      If you are also interested in a free internet installation for your business, please
      =link_to 'click here', new_internet_path, class: 'text-white underlined'

