.jumbotron.bg-fblue.text-white
  .container
    %h1.display-4 Thank you for your inquiry!
    %p.lead  One of our account managers will be in touch with you shortly.
    %p If you are also interested in {Internet | Phones } please click <a href="#">here</a>.