.jumbotron.bg-fred.text-white
  .container.text-center
    %h1.display-1 500 Error
    %p.lead.display-5 Something has gone wrong with your request.
    %p Please return to the homepage so that you may find what you are looking for.
