@import url('https://fonts.googleapis.com/css?family=Crete+Round|Roboto');

body{
  font-family: 'Roboto', sans-serif;
}


.partners{
  img{
    height: 40px;
    margin: 0 10px;
    min-width: 20px;
    @include media-breakpoint-up(sm) {
      height: 20px;
      display: none;
    }
  }
  ul{
    list-style: none;
    li{
      margin: 1rem;
      @include media-breakpoint-up(sm) {
        margin: .5rem;
      }
    }
  }
}

.polycomslead{
  @include media-breakpoint-up(sm) {
    font-size: .5em;
  }
}