@import url('https://fonts.googleapis.com/css?family=Crete+Round|Roboto');

body{
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  overflow-y: scroll;
}

.partners{
  img{
    height: 40px;
    margin: 0 10px;
    min-width: 20px;
  }
  ul{
    list-style: none;
    li{
      margin: 1rem;
    }
  }
}

.tandcapply, .required{
  &::after{
  content: " *";
  font-size: .75em;
  vertical-align: super;
  position: absolute;
  }
}

.required::after{   color: #E9572C; }
.tandcapply::after{ color: #4CBFD8; }

.bg-fred   { background: #E9572C; .tandcapply::after{ color: #FFFFFF; } }
.bg-fgreen { background: #89C138; .tandcapply::after{ color: #FFFFFF; } }
.bg-fblue  { background: #4CBFD8; .tandcapply::after{ color: #FFFFFF; } }
.bg-fteal  { background: #69C7B5; .tandcapply::after{ color: #FFFFFF; } }