
body{
  padding-top: 12rem;
}

nav{
  background: white;
  background: rgba(255,255,255,.97);
  header{
    padding-top: 1em;
    transition: padding ease-out .1;
    .text-center a img{
      height: 131px;
      transition: height ease-in .1s;
    }
  }
}

.shrink{
  header{
    padding-top: .5em;
    padding-bottom: .5em;
    transition: padding ease-in .1s;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    .text-center a img{
      height: 50px;
      transition: height ease-out .1s;
    }
  }
  ul.nav{
    display: none;
  }
}
