
body{
  padding-top: 12rem;
}

nav{
  background: white;
  background: rgba(255,255,255,.97);
  header{
    padding-top: 1em;
    transition: all .33s cubic-bezier(0.770, -.125, 0.175, 1.000);
    .text-center a svg{
      height: 131px;
      transition: all .33s cubic-bezier(0.770, -.125, 0.175, 1.000);
      .logobox, .logof, .logoname{
        transition: all .33s cubic-bezier(0.770, -.125, 0.175, 1.000);
      }
    }
  }
}

.shrink{
  header{
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    .text-center a svg{
      height: 50px;
      .logobox{
        transform: translatey(2em);
      }
      .logoname{
        color: white;
        transform: translatey(-4em);
      }
    }
  }
  ul.nav{
    display: none;
  }
}
