%h1.text-center.text-secondary.mt-5.mb-3 Our Partners
%ul.d-flex.justify-content-around.flex-wrap.partners
  %li=image_tag 'logos/polycom.svg', alt: 'Polycom'
  %li=image_tag 'logos/verizon.svg', alt: 'Verizon'
  %li=image_tag 'logos/charter-spectrum.svg', alt: 'Spectrum'
  %li=image_tag 'logos/optimum.svg', alt: 'Optimum'
  %li=image_tag 'logos/att.svg', alt: 'AT&am;T'
  %li=image_tag 'logos/comcast.svg', alt: 'Comcast'
  -# %li=image_tag 'logos/centurylink.svg', alt: 'Centrury Link'
  -# %li=image_tag 'logos/cogent.svg', alt: 'Cogent'
  -# %li=image_tag 'logos/cox.svg', alt: 'Cox'
  -# %li=image_tag 'logos/frontier-auth.svg', alt: 'Frontier'
  -# %li=image_tag 'logos/lightpath.svg', alt: 'Lightpath'
  -# %li=image_tag 'logos/mediacom.svg', alt: 'Mediacom'
  -# %li=image_tag 'logos/rcn.svg', alt: 'RCN'
  -# %li=image_tag 'logos/xfinity.svg', alt: 'Xfinity'