!!!
%html{ lang: 'en' }
  %head

    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport' }/

    %title Free Cable Install

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    -# Captcha
    %script{ src: 'https://www.google.com/recaptcha/api.js' }

    -# Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MTB2KDG');

  %body

    / Google Tag Manager (noscript)
    %noscript
      %iframe{ height: 0, width: 0, src: 'https://www.googletagmanager.com/ns.html?id=GTM-MTB2KDG', style: 'display:none;visibility:hidden' }
    / End Google Tag Manager (noscript)

    %nav.fixed-top
      %header
        .text-center
          -# =link_to image_tag('logo2.png'), root_path
          %a{ href: '/' }
            %svg{ version: '1.1', viewbox: '0 0 310 130', width: '310', height: '130' }
              %rect{ x: '115', y:   '5', fill: 'NONE', width: '80', height: '80', stroke: 'black', 'stroke-width': '0' }
              %g.logobox{ 'stroke-width': '5', fill: 'none' }
                %polyline{ points: '114,35  114, 4  145, 4', stroke: '#E9572C' }
                %polyline{ points: '165, 4  196, 4  196,35', stroke: '#89C138' }
                %polyline{ points: '196,55  196,86  165,86', stroke: '#4CBFD8' }
                %polyline{ points: '145,86  114,86  114,55', stroke: '#69C7B5' }
                %text.logof{ x: '142', y:  '64', fill: '#FAB30E', 'font-size': '52', 'font-weight': 'bold', 'font-family': 'roboto' } F
              %text.logoname{ x:   '6', y: '128', fill: '#FAB30E', 'font-size': '37', 'font-family': 'Crete Round', 'letter-spacing': '2px;' } Free Cable Install

      %ul.nav.justify-content-center.hidden
        %li.nav-item=link_to 'Internet',    internet_path, class: 'text-warning nav-link'
        %li.nav-item=link_to 'VOIP',        phones_path,   class: 'text-warning nav-link'
        -# %li.nav-item=link_to 'Free Phones', polycoms_path, class: 'text-warning nav-link'
        %li.nav-item=link_to 'Resellers',   resellers_path,      class: 'text-warning nav-link'
        -# %li.nav-item=link_to 'Test',     test_path,        class: 'text-warning nav-link'

    .container=yield

    .container.partners.pt-4
      %h1.text-center.text-secondary.mt-5.mb-3 Our Partners
      %ul.d-flex.justify-content-around.flex-wrap
        %li=image_tag 'logos/verizon.svg'
        %li=image_tag 'logos/charter-spectrum.svg'
        %li=image_tag 'logos/optimum.svg'
        %li=image_tag 'logos/att.svg'
        %li=image_tag 'logos/centurylink.svg'
        %li=image_tag 'logos/cogent.svg'
        %li=image_tag 'logos/comcast.svg'
        %li=image_tag 'logos/cox.svg'
        %li=image_tag 'logos/frontier-auth.svg'
        -# %li=image_tag 'logos/lightpath.svg'
        %li=image_tag 'logos/mediacom.svg'
        %li=image_tag 'logos/rcn.svg'
        -# %li=image_tag 'logos/xfinity.svg'

    %footer.mt-5
      .container
        %p.text-center.text-muted
          Powered by
          %a.text-info{ href: 'http://maxsip.com' } Maxsip
          &copy; |
          %a.text-info.tandcapply{ href: '#', 'data-toggle': 'modal', 'data-target': '#exampleModalLong' } Terms and Condition

    / Terms and Conditions Modal
    #exampleModalLong.modal.fade{ 'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLongTitle', role: 'dialog', tabindex: '-1' }
      .modal-dialog.modal-lg{ role: 'document' }
        .modal-content
          .modal-header
            %h5#exampleModalLongTitle.modal-title Terms and Conditions
            %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
              %span{'aria-hidden': 'true' } ×
          .modal-body
            %ol
              %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              %li Pellentesque imperdiet lectus ut feugiat accumsan.
              %li In fringilla nisi vitae sapien faucibus gravida.
              %li Vestibulum fringilla lorem ut dui hendrerit, imperdiet aliquet risus bibendum.
              %li Aliquam eget ligula id magna dictum sollicitudin.
              %li In pretium tellus non velit malesuada hendrerit.
              %li Morbi eleifend eros in enim finibus, vitae aliquam sem eleifend.
              %li Suspendisse id ante sollicitudin, tempus dui vel, vulputate nisl.
              %li Phasellus convallis libero vitae mi molestie pulvinar.
              %li Donec sit amet nisl nec nisl molestie finibus ac sit amet ipsum.
              %li Pellentesque nec nisi nec purus eleifend interdum vel vel lectus.
              %li Integer mattis tortor eget justo vestibulum fringilla.
              %li Nulla id nibh vel felis facilisis mattis eu et erat.
          .modal-footer
            %button.btn.btn-info{ 'data-dismiss': 'modal', type: 'button' } Close

    / Global Site Tag (gtag.js) - Google Analytics
    %script{ async: '', src: 'https://www.googletagmanager.com/gtag/js?id=UA-107489713-1' }
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107489713-1');
